html
  head
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=PT+Serif:ital@1&family=Roboto+Slab&display=swap" rel="stylesheet">
    title AbhiDanceAcademy
    block scripts
    block style
  Body
    nav#navbar
        ul 
            div#logo
                img(src="../static/logo.png", alt="err loading image")
                | ADA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    block foot
      #footer
        | Copyright 2023 AbhiDanceAcademy | All Rights Reserved





//-   Base.pug matlab "Dhacha (Structure)"  jo konsa bhi Website ho usme Use jarur hi hoga re Chotu...